
.footer-top {
    background-color: #e60012;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    background-color: black;
    margin: 0 1rem 0 1rem;
    width: 1px;
}

.footer-bottom {
    display: flex;
}

.footer-bottom-segment{
    border-left: 1px solid black;
    padding: 0rem 6rem 0px 1rem;
}

.footer-bottom-segment h3 {
    color: #e60012;
    font-size:medium;
}

.footer-bottom-segment h3:hover {
    border-bottom: 1px solid #e60012;
    cursor: pointer;
}

.property {
    background-color: black;
    color: white;
    display: flex;
    font-size: 0.75rem;
}