.Homepage {
    background-color: #d6f0fa;
}

.Card-conteiner {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 0 2rem;
    padding: 2rem;
}

.Card {
    display: flex;
}
.clasification{
    display: flex
}

.clasification-mobile {
    display: flex;
}

@media(max-width:1000px) {
    .Main {
        padding: 1rem;
    }
    .Card{
        flex-direction: column;
    }
    .Card-conteiner {
        margin: 0;
        padding: 1rem;
    }

    .clasification{

        display: none;
    }
}